In [1]:
import pandas as pd
import numpy as np

In [5]:
df201806 = pd.read_csv('data/하수관로_수위_현황_2018/하수관로_수위_현황_201806.csv',
                       names=['수위계번호', '구분코드', '구분명', '측정일자', '측정일자_del', '측정수위', '통신상태'], index_col=False)

In [6]:
# 측정일자 1개로 변경 함수
def del_time(data):
    del data['측정일자_del']
    return data

# 측정일자 날짜데이터로 변경 함수
def time_change(data):
    data['측정일자'] = pd.to_datetime(data['측정일자'], format='%d-%b-%y %H:%M:%S')
    return data

# 측정일자 추출
def day_add(data):
    data['측정일'] = data['측정일자'].dt.strftime('%Y-%m-%d')

df201806 = del_time(df201806)
df201806 = time_change(df201806)
day_add(df201806)

df201806.head()

     수위계번호  구분코드 구분명       측정일자  측정수위  통신상태         측정일
0  02-0001     2   중 2018-06-01  0.06  통신양호  2018-06-01
1  03-0001     3  용산 2018-06-01  0.72  통신양호  2018-06-01
2  04-0001     4  성동 2018-06-01  0.27  통신양호  2018-06-01
3  04-0002     4  성동 2018-06-01  0.23  통신양호  2018-06-01
4  04-0003     4  성동 2018-06-01  0.13  통신양호  2018-06-01

In [9]:
df201806.loc[(df201806['구분명'] == '광진') & (df201806['측정일'] == '2018-06-17')]

Empty DataFrame
Columns: [수위계번호, 구분코드, 구분명, 측정일자, 측정수위, 통신상태, 측정일]
Index: []